<!DOCTYPE html>
<html class="not-ie no-js" lang="en">
<head>

	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
	<title>No Worries Pet Sitting</title>
	<meta name="description" content="PetSitter - Responsive HTML5 Template - 1.0">
	<meta name="author" content="http://themeforest.net/user/dan_fisher">

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">

	<!-- Google Web Fonts
	================================================== -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic|Bitter:700' rel='stylesheet' type='text/css'>

	<!-- CSS
	================================================== -->
	<!-- Base + Vendors CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/fonts/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" href="css/fonts/entypo/css/entypo.css">
	<link rel="stylesheet" href="vendor/owl-carousel/owl.carousel.css" media="screen">
	<link rel="stylesheet" href="vendor/owl-carousel/owl.theme.css" media="screen">
	<link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.css" media="screen">
	<link rel="stylesheet" href="vendor/flexslider/flexslider.css" media="screen">

	<!-- Theme CSS-->
	<link rel="stylesheet" href="css/theme.css">
	<link rel="stylesheet" href="css/theme-elements.css">
	<link rel="stylesheet" href="css/animate.min.css">

	<!-- Head Libs -->
	<script src="vendor/modernizr.js"></script>

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">

</head>
<body>

	<div class="site-wrapper">

		<!-- Header -->
		<header class="header header-menu-fullw">

			<!-- Header Top Bar -->
			<div class="header-top">
				<div class="container">
					
					<div class="header-top-right">
						<button class="btn btn-sm btn-default menu-link menu-link__tertiary">
							<i class="fa fa-user"></i>
						</button>
						<div class="menu-container">
							<ul class="header-top-nav header-top-nav__tertiary">
								<li><a href="/"><span style='font-size: large; font-weight: bold'>Home</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- Header Top Bar / End -->

			<div class="header-main">
				<div class="container">
					<!-- Logo -->
					<div class="logo">
						<a href="/"><img src="images/homepageimage.jpeg" alt="No Worries PetSitter"></a>
					</div>
					<!-- Logo / End -->

					<button type="button" class="navbar-toggle">
			        <i class="fa fa-bars"></i>
			      </button>

			      <!-- Banner -->
			      <div class="head-info">
			      	<ul class="head-info-list">
						<li><span>Call us on:</span> +0 (000) 000-0000</li>
						<li><span>Email:</span>fakeemail@petsitter.com</li>
			      	</ul>
			      	<ul class="social-links">
			      		<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
						</ul>
			      </div>
			      <!-- Banner / End -->
				</div>
			</div>

			<!-- Navigation -->
			<!-- <nav class="nav-main">
				<div class="container">
					<ul data-breakpoint="992" class="flexnav">
						<li class="active"><a href="/">Home</a></li> -->
						<!-- <li><a href="#">Pages</a>
							<ul>
								<li><a href="page-about.html">About Us</a></li>
								<li><a href="page-services.html">Services</a></li>
								<li><a href="page-team.html">Team</a></li>
								<li><a href="page-faqs.html">FAQs</a></li>
							</ul>
						</li> -->
					<!-- </ul>
				</div>
			</nav> -->
			<!-- Navigation / End -->

		</header>
		<!-- Header / End -->

		<!-- Main -->
		<div class="main" role="main">

			<!-- Page Heading -->
			<section class="page-heading">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<h1>Sign Up</h1>
						</div>
					</div>
				</div>
			</section>
			<!-- Page Heading / End -->

			<!-- Page Content -->
			<section class="page-content">
				<div class="container">
					
					<div class="row">
						<div class="col-md-12">
							<div class="box">
								<h3>Sign Up</h3>
								<form action="#" method="post" role="form" id="signup" name="signup" action="/signup">
									<div class="form-group">
										<label for="exampleInputEmail1">Email Address <span class="required">*</span></label>
										<input type="email" class="form-control" name="email" id="firstq" required>
									</div>
									<div class="form-group">
										<div class="clearfix">
											<label for="exampleInputPassword1" class="pull-left">
												Password <span class="required">*</span>
											</label>
										</div>
										<input type="password" class="form-control" name="thepassword" id="secondq" required>
									</div>
									<div class="form-group">
											<label>Full Name <span class="required">*</span></label>
											<input type="text" class="form-control" name="userfullname" required>
									</div>
									<div class="form-group">
										<label>City <span class="required">*</span></label>
											<div class="select-style">
												<select id="three_q" name="usercity" class="form-control">
													<option>New York City</option>
													<option>Los Angeles</option>
													<option>Chicago</option>
													<option>Houston</option>
													<option>Philadelphia</option>
													<option>Phoenix</option>
													<option>San Antonio</option>
													<option>San Diego</option>
													<option>Dallas</option>
													<option>San Jose</option>
												</select>
											</div>
										</div>
										<div class="form-group">
												<label>Owner or Sitter <span class="required">*</span></label>
													<div class="select-style">
														<select class="form-control" id="four_q" name="ownerorsitter">
															<option>Owner</option>
															<option>Sitter</option>
														</select>
													</div>
												</div>	
									<button type="submit" class="btn btn-primary btn-inline" id="login" value="Sign Up">Sign Up</button>
								</form>
							</div>
						</div>
					</div>

				</div>
			</section>
			<!-- Page Content / End -->

			<!-- Footer -->
			<footer class="footer" id="footer">
					<div class="footer-widgets">
						<div class="container">
							<div class="row">
								<div class="col-sm-6 col-md-2">
									<!-- Widget :: Custom Menu -->
									<div class="widget_nav_menu widget widget__footer">
										<h3 class="widget-title">Information</h3>
										<div class="widget-content">
											<ul>
												<li><a href="#">FAQ’s</a></li>
												<li><a href="#">Press</a></li>
												<li><a href="#">Testimonials</a></li>
												<li><a href="#">About Us</a></li>
												<li><a href="#">Expert Advice</a></li>
												<li><a href="#">Contact Us</a></li>
											</ul>
										</div>
									</div>
									<!-- /Widget :: Custom Menu -->
								</div>
								<div class="col-sm-6 col-md-2">
									<!-- Widget :: Categories -->
									<div class="widget_categories widget widget__footer">
										<h3 class="widget-title">Categories</h3>
										<div class="widget-content">
											<ul>
												<li><a href="#">Pet Care</a></li>
												<li><a href="#">Pet Sitters</a></li>
												<li><a href="#">Dog Walkers</a></li>
												<li><a href="#">Pet Care Jobs</a></li>
												<li><a href="#">Pet Care Costs</a></li>
											</ul>
										</div>
									</div>
									<!-- /Widget :: Categories -->
								</div>
	
								<div class="clearfix visible-sm"></div>
	
								<div class="col-sm-6 col-md-4">
									<!-- Widget :: Latest Posts -->
									<div class="latest-posts-widget widget widget__footer">
										<h3 class="widget-title">Recent Posts</h3>
										<div class="widget-content">
											<ul class="latest-posts-list">
												<li>
													<figure class="thumbnail"><a href="#"><img src="./images/144x84/sushi.jpeg" alt="fish named sushi"></a></figure>
													<span class="date">May, 18 2018</span>
													<h5 class="title"><a href="#">R.I.P. Sushi - It was a good run.</a></h5>
												</li>
												<li>
													<figure class="thumbnail"><a href="#"><img src="./images/144x84/snake.jpeg" alt="snake"></a></figure>
													<span class="date">June, 7 2018</span>
													<h5 class="title"><a href="#">Baby anaconda on the loose.</a></h5>
												</li>
											</ul>
										</div>
									</div>
									<!-- /Widget :: Latest Posts -->
								</div>
								<div class="col-sm-6 col-md-4">
									<!-- Widget :: Newsletter -->
									<div class="widget_newsletter widget widget__footer">
										<h3 class="widget-title">Get Our Newsletter</h3>
										<div class="widget-content">
											<p> Get the latest and greatest updates from No Worries Pet Sitting! </p>
	
											<!-- <form action="php/newsletter-form.php" method="POST" id="newsletter-form"> -->
	
												<div class="alert alert-success hidden" id="newsletter-alert-success">
													<strong>Success!</strong> Thank you for subscribing.
												</div>
												<div class="alert alert-danger hidden" id="newsletter-alert-error">
													<strong>Error!</strong> Something went wrong.
												</div>
	
												<div class="row">
													<div class="col-md-8">
														<div class="form-group">
															<input type="email"
																value=""
																data-msg-required="Please enter email address."
																data-msg-email="Please enter a valid email address."
																class="form-control"
																placeholder="Enter your email here..."
																name="subscribe-email"
																id="subscribe-email">
														</div>
													</div>
													<div class="col-md-4">
														<button type="submit" class="btn btn-success btn-block" data-loading-text="Loading...">Subscribe</button>
													</div>
												</div>
											</form>
										</div>
									</div>
									<!-- /Widget :: Newsletter -->
								</div>
							</div>
						</div>
					</div>
					<div class="footer-copyright">
						<div class="container">
							<div class="row">
								<div class="col-sm-6 col-md-4">
									Copyright &copy; 2018  <a href="/">No Worries Pet Sitting</a> &nbsp;
								</div>
								<div class="col-sm-6 col-md-8">
									<div class="social-links-wrapper">
										<span class="social-links-txt">Keep in Touch</span>
										<ul class="social-links social-links__light">
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
											<li><a href="#"><i class="fa fa-instagram"></i></a></li>
											<li><a href="#"><i class="fa fa-rss"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</footer>
				<!-- Footer / End -->
	
			</div>
			<!-- Main / End -->
		</div>
	
	
	
	
	
		<!-- Javascript Files
		================================================== -->
		<script src="vendor/jquery-1.11.0.min.js"></script>
		<script src="vendor/jquery-migrate-1.2.1.min.js"></script>
		<script src="vendor/bootstrap.js"></script>
		<script src="vendor/jquery.flexnav.min.js"></script>
		<script src="vendor/jquery.hoverIntent.minified.js"></script>
		<script src="vendor/jquery.flickrfeed.js"></script>
		<script src="vendor/isotope/isotope.pkgd.min.js"></script>
		<script src="vendor/isotope/jquery.imagesloaded.min.js"></script>
		<script src="vendor/magnific-popup/jquery.magnific-popup.js"></script>
		<script src="vendor/owl-carousel/owl.carousel.min.js"></script>
		<script src="vendor/jquery.fitvids.js"></script>
		<script src="vendor/jquery.appear.js"></script>
		<script src="vendor/jquery.stellar.min.js"></script>
		<script src="vendor/flexslider/jquery.flexslider-min.js"></script>
	
		<!-- Newsletter Form -->
		<script src="vendor/jquery.validate.js"></script>
		<script src="js/newsletter.js"></script>
	
		<script src="js/custom.js"></script>
	
		<script>
			jQuery(function($){
				$('body').addClass('loading');
			});
	
			$(window).load(function(){
				$('.flexslider').flexslider({
					animation: "fade",
					controlNav: true,
					directionNav: false,
					prevText: "",
					nextText: "",
					start: function(slider){
						$('body').removeClass('loading');
					}
				});
			});
		</script>
	
	</body>
</html>
	